/* ------------------------------------------ ELEMENTS -------------------------------------------
*/

html{
    height: 100%;
}

body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}



footer{
    position: fixed;
    top: 95%;
    left: 44%;
}


.wrong{
    position: absolute;
    top: 30%;
    left: 40%;
    color: rgb(255, 155, 118);
    font-weight: bold;
}



/* -------------------------------------- NAV ----------------------------------------
*/
nav{
   width: 100%;
   height: 60px;
   position: fixed;
   -webkit-box-shadow: -1px 0px 8px -1px rgba(121,138,124,0.35);
    -moz-box-shadow: -1px 0px 8px -1px rgba(121,138,124,0.35);
    box-shadow: -1px 0px 8px -1px rgba(121,138,124,0.35);
   border-radius: 15px;
   height: -10px;
   display: flex;
   justify-content: center;
   z-index: 2;
}

.navbar{
    width: 80%;
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container-nav .navbar-left{
    display: inline-block;
    
    width: auto;
}



.container-nav .navbar-right{
    display: inline-block;
    width: auto;
}

.navbar-left div, .navbar-right div{
    display: inline-block;
}

.navbar-brand,.navbar-item-left{
    margin-right: 30px;
}
.navbar-brand{
    margin-left: 60px;
}

nav a{
    width: 100%;
    position: relative;
    text-decoration: none;
    color: #FF7F50;
    padding: 20px 5px;
    font-size: 20px;
    transition: .5s;
}

nav a:hover{
    background-color: #FF7F50;
    color: white;

}
nav p{
    display: inline-block;
}

.navbar .menu{
    position: absolute;

    display: none;
}




/* -------------------------------------- NAV END ----------------------------------------------
*/


/* -------------------------------------- INDEX PAGE ----------------------------------------
*/

.container-index{
    position: absolute;
    width: 100%;
    height: 100%;
}
.container-index div{
    width: 60%;
    left: 40%;
    top: 20%;
    position: relative;
}

.container-index h1{
    margin-left: 5%;
    font-weight: bold;
    color: rgb(255, 155, 118);
}
.container-index h3{
    margin-left:4%;
    color: rgb(167, 167, 167);
    font-weight: bold;
}

.container-index button{
    display: inline-block;
    margin-top: 5%;
    margin-left: 4%;
    padding: 7px 20px 7px 20px;
    background-color: rgb(255,148,109);
    border: 1px solid rgb(255,148,109);
    color: white;
    transition: 1s;
    cursor: pointer;
}
.container-index button:hover{
    background-color: white;
    color: rgb(255,148,109);
    border: 1px solid rgb(255,148,109);
}




/*************************HOME PAGE************************
*/

.home-container{
    position: absolute;
    width: 60%;
    height: 80%;
    top: 20%;
    left: 30%;

}

.home-container h1{
    font-weight: bold;
    margin-left: 5%;
    color: rgb(255, 155, 118);
}

.home-container h2{
    font-weight: bold;
    color: rgb(177, 176, 176);
}
.home-container div{
    margin-left: 15%;
}

.home-container button{
    margin-top: 5%;
    margin-left: 16%;
    padding: 7px 20px 7px 20px;
    background-color: rgb(255,148,109);
    border: 1px solid rgb(255,148,109);
    color: white;
    transition: 1s;
    cursor: pointer;
}

.home-container button:hover{
    background-color: white;
    color: rgb(255,148,109);
    border: 1px solid rgb(255,148,109);
}









/*-------------------------------------------------------------------
*/


/*********************** BETS ***********************
*/
.container-bets{
    position: absolute;
    width: 100%;
    height: 80%;
    top: 15%;
}

.container-bets-left{
    position: absolute;
    border-right: 2px solid #ddd;
    border-radius: 5px;
    width: 15%;
    margin-left: 5%;
    display: inline-block;
}
.container-bets-right{
    position: relative;
    display: inline-block;
    width: 70%;
    min-height: 800px;

    margin-left: 25%;

}

.container-bets .container-bets-left label{
    display: block;
    padding: 5px;
    margin-bottom: 10%;
    font-weight: bold;
    font-size: large;
    border-bottom: 2px solid #ccc;
    width: 50%;
    padding-left: 15%;
    border-radius: 5px;
}

.container-bets .container-bets-left a{
    transition:1s;
}
.container-bets .container-bets-left a:hover{
    color: #ff946d;
    font-size: larger;
}
.container-bets .container-bets-left a{
    text-decoration: none;
    color: black;
}



.container-bets-right .bet-card-bets{

    padding: 3%;
    transition: 1s;
    margin-bottom: 5%;
    -webkit-box-shadow: 0px 0px 21px 1px rgba(171,164,171,1);
    -moz-box-shadow: 0px 0px 21px 1px rgba(171,164,171,1);
    box-shadow: 0px 0px 21px 1px rgba(171,164,171,1);
}

.container-bets-right .bet-card-bets:hover{
    padding: 5%;
    
}

.container-bets-right .bet-card-bets-over{
    -webkit-box-shadow: 0px 0px 21px 1px rgba(171,164,171,1);
    -moz-box-shadow: 0px 0px 21px 1px rgba(171,164,171,1);
    box-shadow: 0px 0px 21px 1px rgba(171,164,171,1);
    padding: 3%;
    transition: 1s;
    margin-bottom: 5%;
}




.container-bets-right .bet-card-bets-over:hover{
    padding: 5%;
    
}


.endBet{
    margin-bottom: 15px;
    padding-bottom: 10px;
    color: rgb(255, 155, 118);
    font-weight: bold;
    
}
.rewardBet{
    margin-left: 70%;
    color: saddlebrown;
}

.questionBet{
    color: rgb(190, 186, 186);
}

.container-bets-right a{
    text-decoration: none;
    color: black;
}








/******************************** BETS SHOW ANSWER PAGE ********************
*/

.container-betsShow-right{
    position: absolute;
    width: 70%;
    min-height: 800px;
    margin-left: 25%;
}
.container-betShow-right-bet{
    position: absolute;
    display: inline-block;
    width: 50%;
}
.container-betsShow-right img{
    width: 100%;
}
.container-betsShow-right label{
    display: block;
}
.answerPage-endTime{
    color: rgb(255, 155, 118);
    font-weight: bold;
    margin-bottom: 5%;
}
.answerPage-reward{
    margin-left: 37%;
    font-weight: bold;
    margin-bottom: 5%;
    color: saddlebrown;
}
.answerPage-question{
    color: rgb(107, 106, 106);
    font-weight: bold;
    margin-top: 5%;
}

.container-betShow-right-bet label{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    margin-left: 20%;
    margin-top: 5%;

}

.answerPage-button{
    display: block;
    margin-top: 10%;
    padding:10px;
    background-color: rgb(209, 207, 207);
    border:none;
    cursor: pointer;
    margin-left: 35%;
    transition: 1s;
}

.answerPage-button:hover{
    background-color: rgb(255, 155, 118);
}

.answerPage-answer:hover {
    background-color: #dfd;
}

.answerPagePlayed{
    margin-left: 35%;
    margin-top: 10%;
}


.container-betShow-comment{
    height: 850px;
    display: inline-block;
    margin-left: 60%;
    width: 35%;
    -webkit-box-shadow: 0px 0px 21px 1px rgba(171,164,171,1);
    -moz-box-shadow: 0px 0px 21px 1px rgba(171,164,171,1);
    box-shadow: 0px 0px 21px 1px rgba(171,164,171,1);
    
}
.comments::-webkit-scrollbar{
    display: none;
}

.comments{
    overflow: scroll;
    height: 600px;
    width: 100%;
}

#commentsh3{
    margin-left: 40%;
    font-weight: bold;
    color: rgb(255, 155, 118);
    
}
.comments .commentUser{
    -webkit-box-shadow: 0px 0px 21px 0px rgba(171,164,171,1);
    -moz-box-shadow: 0px 0px 21px 0px rgba(171,164,171,1);
    box-shadow: 0px 0px 21px 0px rgba(171,164,171,1);
    border-radius: 5px;
    margin-bottom: 10px;
}

.timeComment{
    padding-top: 5%;
    font-size: smaller;
    margin-bottom: 2%;
    margin-left: 3%;
}

.userComment{
    font-weight: bold;
    margin-left: 3%;
    color: rgb(255, 155, 118);
}


.textComment{
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 5%;
    max-width: 100%;
    border: none;
    color: rgb(134, 134, 134);
}


.addComment-button{
    display: block;
    margin-top: 2%;
    padding: 10px 25px;
    background-color: rgb(209, 207, 207);
    border:none;
    cursor: pointer;
    margin-left: 40%;
    transition: 1s;
}
.form-commentarea textarea{
    margin-left: 3%;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(171,164,171,1);
-moz-box-shadow: 0px 0px 3px 0px rgba(171,164,171,1);
box-shadow: 0px 0px 3px 0px rgba(171,164,171,1);
    margin-top: 3%;
}

.addComment-button:hover{
    background-color: rgb(255, 155, 118);
}

.deleteComment-button{
    display: block;
    margin-top: 2%;
    padding: 10px 25px;
    background-color: rgb(209, 207, 207);
    border:none;
    cursor: pointer;
    margin-left: 39%;
    transition: 1s;
}

.deleteComment-button:hover{
    background-color: rgb(255, 155, 118);
}



/*  -------------------------------- EDIT BET PAGE ----------------------
*/

.container-editBet{
    position: absolute;
    width: 100%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-editBet .container-left{
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
    border-left: 2px solid rgb(255, 155, 118);
    border-right: 2px solid rgb(255, 155, 118);
    border-radius: 5px;
}

.container-editBet .container-right{
    width: 60%;
    margin-left: 10%;
}


.left-items h3{
    padding: 20px 15px;
}

.left-items a {
    text-decoration: none;
    color: black;
}

.left-items a:hover{
    color: #FF7F50;
}



/* ------------------------- ADD BET----------
*/
.container-addBet{
    position: absolute;
    width: 100%;
    top: 20%;
}
.addBet-left{
    width: 20%;
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    margin-left: 5%;
    border-right: 2px solid rgb(255, 155, 118);
    border-radius: 10px;
}

.addBet-right{
    position: absolute;
    width: 65%;
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    margin-left: 5%;
    margin-bottom: 15%;
}


.addBet-right-right{
    position: relative;
    min-width: 100px;
    width: 40%;
    margin-left: 5%;
    display: inline-block;

}

.addBet-right-left{
    margin-left: 5%;
    position: absolute;
    min-width: 100px;
    width: 40%;
    display: inline-block;
}

.addBet-right-right label{
    color: black;
    font-weight: bold;
}

.addBet-form-container label{
    padding: 5%;
    display:block;
   
}
.addBet-form-container input{
    margin-bottom: 5%;
   
}

.container-addBet .imagePreview{
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddd;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-weight: bold;
}

.imagePreview img{
    display: none;
    width: 100%;
}

.addBet-form-container button{
    position: relative;
    margin-left: 70%;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;

}
.addBet-form-container button:hover{
    background-color: rgb(255, 155, 118);
}

.addBet-form-container input[type="text-area"]{
    overflow-y: scroll;
    
}
.addBet-form-container .checkbox{
    display: inline-block;
}

/* -------------------------------- SHOW BETS ------------------------
*/
 
.container-showBets{
    width: 60%;
    position: absolute;
    margin-left: 5%;
    min-height: 200px;
    display: inline-block;
}
.container-showBets .bet-container{
    width: 100%;
    min-height: 100px;
}

.container-showBets img{
    width: 200px;

}





/*  -------------------------EDIT BET --------------
*/
.form-container-editTheBet{
    position: absolute;
    width: 60%;
    top: 10%;
    left: 30%;
    
}
.container-editTheBet label{
    display: block;
    margin: 3% 0%;
}

.container-editTheBet .form-container-editTheBet{
    
    border-top:2px solid #ccc;
    border-radius: 4px;
    
}

.container-editTheBet .form-container-editTheBet .form-editTheBet{
    margin-left: 25%;
}


.container-editTheBet img{
    width: 30%;
    margin-top: 5%;
}

.container-editTheBet .checkbox{
    display: inline-block;
    margin-bottom: 10px;
}

.container-editTheBet button{
    display: block;
    margin-left: 25%;
}

.right-editBet .imagePreview{
    left: 75%;
    bottom: 15%;
    position: absolute;
}
.right-editBet .imagePreview img{
    width: 100%;
}


/*  -----------------------DELETE BET----------------
*/

.container-deleteBet{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
}

.deleteBet-right{
    display: inline-block;
    position: absolute;
    height: 80%;
    margin-left: 5%;
    width: 60%;
    overflow: scroll;
}
.deleteBet-right::-webkit-scrollbar{
    display: none;
}
.deleteBet-right .bet-card-delete{
    min-height: 100px;
    margin: 5% 5%;
}
.bet-card-delete{
    border-bottom: 1px solid rgb(255, 155, 118);
}
.deleteBet-right h3{
    color: rgb(255, 155, 118);
    font-weight: bold;
}

















/* --------------------------------- LEADERBOARD PAGE -----------------------------
*/


.container-leaderboard {
    position: absolute;
    width: 100%;
    top: 10%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-leaderboard-table{
    position: absolute;
    width: 50%;
    top: 10%;
}

#ranks {
    border-collapse: collapse;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 50px;
}

#ranks td, #ranks th{
    padding: 8px;
    border: 1px solid #ddd;
}
#ranks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(255, 155, 118);
    color: white;
}

#ranks tr:nth-child(even){background-color:rgb(255, 234, 226);}

#ranks tr:hover {background-color: #f2f2f2;}









/* -------------------------------------- LOGIN PAGE ----------------------------------------
*/
.container-login .form-login{
    position: absolute;
    -webkit-box-shadow: -1px 0px 8px -1px rgba(121,138,124,0.35);
    -moz-box-shadow: -1px 0px 8px -1px rgba(121,138,124,0.35);
    box-shadow: -1px 0px 8px -1px rgba(121,138,124,0.35); 
    top: 25%;
    left: 40%;
    width: 20%;
    border-radius: 4px;
    
}


.container-login .form-login .label-login{
    position: relative;
    width: 87%;
    margin-left:5%;
    margin-top: 4%;
}

.container-login .form-login .label-login-button{
    position: relative;
    width: 35%;
    margin-left: 32%;
    margin-top: 4%;
}

.container-login .form-login h1{
    margin-left: 36%;
    margin-top: 10%;
    color: rgb(255, 169, 138);
}
.container-login .form-login p{
    margin-top: 10%;
    text-align: center;
    
    color: rgb(255, 169, 138);
}

.container-login .form-login .errorMessage .login-form-signup{
    text-align: center;
}
.container-login .form-login .errorMessage{
    position: relative;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
}


.formInput-login {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 4%;
    display: inline-block;
    border: none;
    border-bottom: 1px solid rgb(255, 169, 138);
    border-radius: 4px;
    box-sizing: border-box;
}


.formInput-login:valid ~ label,
.formInput-login:focus ~ label{
    font-size: 13px;
    transform: translate(0,-14px);
}


.formInput-login-submit{
    width: 30%;
    padding: 10px 14px;
    margin: 8px 10px;
    margin-top: 30px;
    margin-right: 20px;
    color: white;
    display: inline-block;
    border: 1px solid #ccc;
    color: white;
    background-color: rgb(255, 169, 138);
    border-radius: 4px;
    box-sizing: border-box;
    transition: 1s;
    cursor: pointer;
}

.formInput-login-submit:hover{
    background-color: rgb(255, 169, 138);
}

.registerLogin{
    display: block;
    margin-top: 4%;
    margin-left: 10%;
    font-weight: bold;
    color: rgb(190, 188, 188);
}

.registerLogin a{
    color: rgb(190, 188, 188);
    text-decoration-color: rgb(255, 155, 118);
}
.registerLogin a:hover{
    color: rgb(255, 155, 118);
}


.errorMessage h3 {
    font-weight: bold;
    color: rgb(255, 155, 118);
}
/* ---------------------------- LOGIN PAGE ENDS ----------------------
*/






/* ---------------------------- REGISTER PAGE -------------------------
*/

.container-register {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

.form-register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    -webkit-box-shadow: -1px 0px 8px -1px rgba(121,138,124,0.35);
    -moz-box-shadow: -1px 0px 8px -1px rgba(121,138,124,0.35);
    box-shadow: -1px 0px 8px -1px rgba(121,138,124,0.35);
    border-radius:5px ;
    box-sizing: border-box;
}

.container-register form .form-register div{
    position: relative;
}



.container-register form .form-register div .label-register{
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    pointer-events: none;
    transition: 1s all;
}



.formInput-register{

    position: relative;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 13px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #FF7F50;
}

.formInput-register:valid ~ label,
.formInput-register:focus ~ label{
    font-size: 13px;
    transform: translate(0,-14px);
}



.formInput-register-submit{
    display: flex;
    background-color: #FF7F50;
    color: white;
    position: relative;
    width: 50%;
    padding: 7px 8px;
    margin-bottom: 50px;
    margin-top: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-bottom: none;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;

}


.container-register .form-register h2{
    text-transform: uppercase;
    font-size: 100%;
    color: #FF7F50;
    margin-bottom: 20px;
    margin-top: 30px;
}







/*
-------------------------------------------------------------------------
*/ 

/*
----------------------PROFILE PAGE---------------------------------------
*/ 

.container-editProfile{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 10%;
    height: 80%;
}

.container-inside-editProfile{
   background-color: white;
   border-bottom: 1px solid rgb(255,148,109);
   border-top: 1px solid rgb(255,148,109);
   border-left: 1px dashed rgb(255,148,109);
   border-right: 1px dashed rgb(255,148,109);
   border-radius: 10px;
   box-sizing: border-box;
   width: 20%;
}



.container-editProfile .editProfile-item{
    position: relative;
    margin-bottom: 5px;
    width: 80%;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 0;
    border: none;
    border-bottom: 2px solid rgb(255, 169, 138);
    margin: 0 4%;
    margin-left: 8%;
    border-radius: 5px;
    border-color: #ff946d;
    box-sizing: border-box;
    
}

#profileHeader{
    position: relative;
    color: #ff946d;
    margin-bottom: 5px;
    margin: 0 24%;
}

#profileHeader h1{
    margin-left: 18%;
    margin-top: 10%;
    margin-bottom: 10px;
}

.container-editProfile h2{
    font-size: 1.2rem;
    display: inline-block;
    color: #b98a78;
}

.container-editProfile a{
    background-color: #ff946d;
    border: 1px solid rgb(255,148,109);
    color: white;
    padding: 5px 10px 5px 10px;
    margin-left: 50px;
    border: 1px solid white;
    transition: 1s;
}

.container-editProfile a:hover{
    background-color: white;
    border-color: rgb(255,148,109);
    color: rgb(255,148,109);
}







.container-inside-editProfile a{
    position: relative;
    margin-left: 30%;
    margin: 0 10%;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    padding: 10px;
    background-color: rgb(255,148,109);
    transition: .5s;
}

.container-inside-editProfile label{
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 5px;
    color: rgb(255,148,109);
}

.container-inside-editProfile #editProfile-button-border{
    margin: 13% 0 10% 17%;
}



/* *******************  EDIT PROFILE PAGE ****************
*/ 

.container-edit{
    position: absolute;
    width: 100%;
    height: 80%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-edit .form-area{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border-bottom: 1px solid rgb(255,148,109);
   border-top: 1px solid rgb(255,148,109);
   border-left: 1px dashed rgb(255,148,109);
   border-right: 1px dashed rgb(255,148,109);
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-edit .form-area .edit-items{
    margin-bottom: 5%;
}

.container-edit .form-area button{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 35%;
    padding: 7px 20px 7px 20px;
    background-color:  rgb(255,148,109);
    border: 1px solid rgb(255,148,109);
    color: white;
    transition: 1s;
    cursor: pointer;
}

.container-edit .form-area button:hover{
    background-color: white;
    color: rgb(255,148,109);
    border: 1px solid rgb(255,148,109);
}
#deleteP {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 23%;
    padding: 7px 20px 7px 20px;
    background-color:  rgb(255,148,109);
    border: 1px solid rgb(255,148,109);
    color: white;
    transition: 1s;
    cursor: pointer; 
}
#deleteP:hover{
    background-color: white;
    color: rgb(255,148,109);
    border: 1px solid rgb(255,148,109);
}

.container-edit input{
    border: none;
    border-bottom: 1px solid rgb(255,148,109);
}

.container-edit input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255,148,109);
}


.container-edit h2{
    text-transform: uppercase;
    margin-bottom: 13%;
    position: relative;
    left: 23%;
    color: rgb(255,148,109);
}
.container-edit label{
    color: rgb(255,148,109);
}




/*------------------------------- FAQ---------------------------------
*/

.container-faq{
    width: 80%;
    height: 80%;
    top: 15%;
    left: 20%;
    position: absolute;
}

.faq-right{
    position: absolute;
    left: 35%;
    width: 40%;
    height: 400px;
    -webkit-box-shadow: -2px 0px 15px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 15px -6px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 15px -6px rgba(0,0,0,0.75);
}
.faq-right h1{
    font-weight: bold;
    color: rgb(255, 155, 118);
    margin-left: 5%;
}

.faq-right h3{
    color: rgb(180, 179, 179);
    margin-left: 5%;
    margin-top: 4%;
}

.faq-right textarea{
    margin-top: 5%;
    margin-left: 13%;
}

.form-container-faq .buttonFaq {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 40%;
    padding: 7px 20px 7px 20px;
    background-color:  rgb(255,148,109);
    border: 1px solid rgb(255,148,109);
    color: white;
    transition: 1s;
    cursor: pointer; 
    display: block;
}
.form-container-faq .buttonFaq:hover{
    background-color: white;
    color: rgb(255,148,109);
    border: 1px solid rgb(255,148,109);
}

.form-container-faq p{
    margin-left: 3%;
    color: rgb(168, 164, 164);
}