 /* -------------------------------------- NAV ----------------------------------------
*/
nav img{
    width: 40px;
}






/* -------------------------------------- NAV END ---------------------------------------
*/

h1{
    color : red;
}



footer{
    text-align: center;
}