{%extends "layout.html"%}
{%block title%} - Edit Bets {%endblock%}
{%block content%}  
<div class="container-addBet">
    <div class="addBet-left">
        <div class="left-items">
            <a href="/editPanel/edit">
                <h3>Edit bet</h3>
            </a>
        </div> 
        <div class="left-items">
            <a href="/editPanel/add">
                <h3>Add a bet</h3>
            </a>
        </div> 
        <div class="left-items">
            <a href="/editPanel/delete">
                <h3>Delete a bet</h3>
            </a>
        </div> 
    </div>
    <div class="container-showBets">
        {% for i in range(0,lenBets) %}
        <div class="bet-container">
            {% if bets[i][2]==0 or bets[i][2]==1 %}
           <div class="answered">You already set answer.</div>
        {%endif%}
        {% if date > bets[i][5] %}
        <h1>Bet ended.</h1>
        {%else%}
        <div class="endTime"><h3>End Time: {{bets[i][5]}}</h3></div>
        {%endif%}
        <div class="bet"><img src="../../static/img/{{bets[i][3]}}" alt="betImage">
        <label>Bet: {{bets[i][1]}}</label>
        <label>Reward:{{bets[i][4]}} Coins</label>
        
        <a href="/editPanel/edit/{{bets[i][0]}}">Edit</a>
        </div>
        </div>
        {%endfor%}

    </div>

</div>


{%endblock%}