{% extends "layout.html" %}
{% block title%} Edit {% endblock %}
{% block content%}

<div class="container-edit">
<div class="form-area">
    <form id="edit-form" action="" method="POST">
        <h2>Edit profile</h2>
        <div class="edit-items">
        <label for="nickname" class="label">Nickname: &nbsp</label>
        <input type="text" name="nickname" value="{{profile[1]}}">
        </div>


        <div class="edit-items">
        <label for="fullname" class="label">Fullname: &nbsp</label>
        <input type="text" name="fullname" value="{{profile[2]}}">
        </div>

        <div class="edit-items">
        <label for="password" class="label">Password: &nbsp</label>
        <input type="password" name="password" placeholder="Required" required>
        </div>

        <div class="edit-items">
        <label for="passwordNew" class="label">New password: &nbsp</label>
        <input type="password" name="passwordNew" placeholder="Not required">
        </div>

        <div class="edit-items">
        <label for="passwordNew" class="label">New password again: &nbsp</label>
        <input type="password" name="passwordNew2" placeholder="Not required">
        </div>
        
        <div class="edit-items">
        <label for="mail" class="label">Mail: &nbsp</label>
        <input type="email" name="mail" value="{{profile[4]}}">
        </div>
        
        <div class="edit-items">
        <label for="age" class="label">Age: &nbsp</label>
        <input type="number" name="age" value="{{profile[5]}}">
        </div>

        <div class="edit-items-submit">
        <button type="submit">Kaydet</button>
        </div>
    </form>
    <h1>{{message}}</h1>

</div>
</div>

{% endblock %}