{%extends "layout.html"%}
{%block title%} - Edit Bet {%endblock%}
{%block content%}  

<div class="container-editBet">
    <div class="container-left">
        <div class="left-items">
            <a href="/editPanel/edit">
                <h3>Edit bet</h3>
            </a>
        </div> 
        <div class="left-items">
            <a href="/editPanel/add">
                <h3>Add a bet</h3>
            </a>
        </div> 
        <div class="left-items">
            <a href="/editPanel/delete">
                <h3>Delete a bet</h3>
            </a>
        </div> 
    </div>
    <div class="container-right">
        <h3>Choose from left side to make an action.</h3>
    </div>
</div>
{%endblock%}