{%extends "layout.html"%}
{%block title%} - FAQ {%endblock%}
{%block content%} 
<div class="container-faq">
    <div class="faq-right">
        <form id="faq-form" method="POST" action="">
            <div class="form-container-faq">
                <h1>SEND A TICKET</h1>
                <h3>How can we help you?</h3><textarea rows="5" cols="50" form="faq-form" name="text"></textarea>
                <button class="buttonFaq">Send</button>
                <p>{{message}}</p>
            </div>
        </form>
    </div>
    <div class="faq-left">
        <h1>FAQ</h1>
        
    </div>
</div>











{%endblock%}