{%extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content%}
<div class="container-editProfile">
    <div class="container-inside-editProfile">
    <div id="profileHeader"><h1>Profile </h1></div>
    <div class="editProfile-item"> <label for="nickname">User ID: </label><h2> 	&nbsp	&nbsp{{profile[0]}}</h2></div>
    <div class="editProfile-item"> <label for="nickname">Nickname: </label><h2> 	&nbsp	&nbsp{{profile[1]}}</h2></div>
    <div class="editProfile-item"> <label for="fullname">Fullname: </label><h2> 	&nbsp	&nbsp{{profile[2]}}</h2></div>
    <div class="editProfile-item"> <label for="mail">Mail: </label><h2> 	&nbsp	&nbsp{{profile[4]}}</h2></div>
    <div class="editProfile-item"> <label for="age">Age: </label><h2> 	&nbsp	&nbsp{{profile[5]}}</h2></div>
    <div class="editProfile-item"> <label for="coin">Coin: </label><h2> 	&nbsp	&nbsp{{profile[6]}}</h2></div>
    <div id="editProfile-button-border"><a href="{{url_for('editProfile', userNickname = profile[1])}}">Edit your profile</a></div>
    </div>
</div>


{%endblock%}