{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content%}
<div class="container-register">
<form id="register_form" action="" autocomplete="off" method="POST">
    <div class="form-register">
        <h2>Register for unlimited fun!</h2>
        <div>
        <input class="formInput-register" autocomplete="off" type="text" name="nickname" required="">
        <label for="nickname" class="label-register">Nickname</label>
        </div>
        <div>
        
        <input class="formInput-register" autocomplete="off" type="text" name="fullname">
        <label for="fullname" class="label-register">Fullname, not required</label>
        </div>
        
        <div>
        <input class="formInput-register" autocomplete="off" type="password" name="password" required>
        <label for="password" class="label-register">Password</label>
        </div>
        
        <div>
        <input class="formInput-register" autocomplete="off" type="password" name="password2"required>
        <label for="password2" class="label-register">Password again</label>
        </div>

        <div>
        <input class="formInput-register" autocomplete="off" type="email" name="mail" required>
        <label for="mail" class="label-register">Mail</label>
        </div>
        <div>
        <input class="formInput-register" autocomplete="off" type="number" name="age">
        <label for="age" class="label-register" title="Age">Age, not required</label>
        </div>
    <button class="formInput-register-submit"  type="submit">Register!</button>
    <div class="errorMessage">
    <h3>{{message}}</h3>
    {% if message == 'BAŞARIYLA KAYIT OLDUNUZ' %}
    <h3><a href="{{ url_for('login') }}"> Giriş yap</a></h3>
    {%endif%}
</div>  
    </div>    
</div>
</form>

</div>
{%endblock%}