<form name="login_form" action="" method="POST">
    <div class="form_input">
        <input type="text" name="username" placeholder="Username, required" required>
    </div>
    <div class="form_input">
        <input type="text" name="fullname" placeholder="Fullname, not required">
    </div>
    <div class="form_input">
        <input type="password" name="password" placeholder="Password, required" required>
    </div>
    <div class="form_input">
        <input type="email" name="email" placeholder="Email, required" required>
    </div>
    <div class="form_input">
        <input type="text" name="age" placeholder="Age, not required">
    </div>
    <button type="submit">Register Now!</button>
</form>