<div class="form-area">
<form id="register_form" action="" method="POST">
    <div class="form_input">
        <label for="nickname" class="label">Nickname/Username: </label>
        <input type="text" name="nickname" placeholder="Username, required" required>
    </div>
    <div class="form_input">
        <label for="fullname" class="label">Fullname: </label>
        <input type="text" name="fullname" placeholder="Fullname, not required">
    </div>
    <div class="form_input">
        <label for="password" class="label">Password: </label>
        <input type="password" name="password" placeholder="Password, required" required>
    </div>
    <div class="form_input">
        <label for="password2" class="label">Password Again: </label>
        <input type="password" name="password2" placeholder="Password, required" required>
    </div>
    <div class="form_input">
        <label for="mail" class="label">Mail: </label>
        <input type="email" name="mail" placeholder="Email, required" required>
    </div>
    <div class="form_input">
        <label for="age" class="label">Age: </label>
        <input type="text" name="age" placeholder="Age, not required">
    </div>
    <button type="submit">Register Now!</button>
</form>
</div>
<h1>{{message}}</h1>
{% if message == 'BAŞARIYLA KAYIT OLDUNUZ' %}
<h1><a href="{{ url_for('login') }}"> Giriş yap</a></h1>
{%endif%}